/* @theme ibm-logo */
/* IBM theme with built-in logo */
@import "ibm";

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 0px 0px;
}

/* フッターにロゴを追加 */
footer::before {
  content: '';
  display: block;
  margin-right: 10px;
  width: 100px;
  height: 60px;
  background-image: url('./assets/IBM_logo®_pos_blue60_RGB.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/* 白背景以外のスライドでは白色のロゴに切り替え */
section.primary::after,
section.dark-blue::after,
section.dark-purple::after,
section.dark-green::after {
  background-image: url('./assets/IBM_logo®_pos_RGB.png');
}

/* リードスライド（タイトルスライド）用の大きなロゴ */
section.logo,
section.logo-rebus {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

section.logo::before,
section.logo-rebus::before {
  content: '';
  display: block;
  background-image: url('./assets/IBM_logo®_pos_blue60_RGB.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 40%;
  height: 100%;
}

section.logo-rebus::before {
  background-image: url('./assets/IBM_rebus_h_rev_blue50_RGB.png');
}

/* 白背景以外のリードスライドでは白色のロゴに切り替え */
section.logo.primary::before,
section.logo.dark-blue::before,
section.logo.dark-purple::before,
section.logo.dark-green::before {
  background-image: url('./assets/IBM_logo®_pos_RGB.png');
}

section.logo-rebus.primary::before,
section.logo-rebus.dark-blue::before,
section.logo-rebus.dark-purple::before,
section.logo-rebus.dark-green::before {
  background-image: url('./assets/IBM_rebus_h_rev_RGB.png');
}

section.logo > header,
section.logo > footer,
section.logo-rebus > header,
section.logo-rebus > footer {
  display: none;
}

